src/main/mule/errorhandling.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c8590800-0c3c-4174-8fd1-eb90ab253f8d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="9da0431d-45ac-4842-83df-ca0bd4c7f3d2" >
		<http:request-connection host="cc.com" port="121" />
	</http:request-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="b07865dd-dea0-4454-90ee-f8085963e0ee" />
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="259cc84b-0b4f-435f-bcce-a422526886c9" >
		<http:request-connection host="${http.host.name}" port="${http.private.port}"/>
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="6eaadea3-eebd-4f1e-9c65-ceb2a8751fcc" file="properties/${mule.env}.properties" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="7ec5d362-2a98-4370-aaa5-3b6b22369bb0" file="properties/secure/secure-${mule.env}.properties" key="${mule.key}" />
	<configuration-properties doc:name="Configuration properties" doc:id="49d608a4-e219-4d44-b7ea-f6a01404d82a" file="properties/global.properties" />
	<flow name="errorhandlingFlow1" doc:id="9cee9bf5-b60b-4819-a447-1aeb84e2a741" >
		<http:listener doc:name="Listener" doc:id="3a4d3ce4-af7a-44aa-b668-e3ebfec30fe6" config-ref="HTTP_Listener_config" path="/error1"/>
		<raise-error doc:name="Raise error" doc:id="a648e53d-78d6-4862-9657-c794e9e5f6bb" type="MULE:VALIDATION" description="Validation error"/>
		<set-payload value="Hello Mule" doc:name="Set Payload" doc:id="8a4d69c9-5a73-4bb1-bca8-561651769cec" />
		<error-handler ref="globalError_Handler" />
	</flow>
	<flow name="errorhandlingFlow2" doc:id="96860d38-2511-4f39-9ce7-fca016917efb" >
		<http:listener doc:name="Listener" doc:id="6309012a-fd96-4e4d-b124-dade1d72000d" config-ref="HTTP_Listener_config" path="/error2"/>
		<set-payload value="Hello" doc:name="Set Payload" doc:id="51b7abd6-5572-4e57-9b6b-e33b3dcd453c" />
		<flow-ref doc:name="Flow Reference" doc:id="21ce58ef-ae15-4836-835f-6986b60a0b00" name="errorhandlingSub_Flow"/>
	</flow>
	<sub-flow name="errorhandlingSub_Flow" doc:id="9ff7d0a7-e12d-4a3c-b265-d8a803872bb3" >
		<try doc:name="Try" doc:id="39fabb56-dc78-4fc2-846e-475ee74d197d" >
			<raise-error doc:name="Raise error" doc:id="1770b7af-9782-48e5-bef3-b6c9df5e21fe" type="MULE:VALIDATION" description="Validation Error"/>
		</try>
	</sub-flow>
	<flow name="errorhandlingFlow3" doc:id="f30f7749-40bf-4664-a3e4-55b771e117d4" >
		<http:listener doc:name="Listener" doc:id="b69c1c2c-8a2c-492b-9b45-d4ca1b52691e" config-ref="HTTP_Listener_config" path="/error3">
		</http:listener>
		<set-payload value='#["Before calling flow"]' doc:name="Before calling flow" doc:id="b43a27ac-dac2-461e-86f7-c44074150570" />
		<flow-ref doc:name="Flow Reference" doc:id="aa820ac6-e1a1-48ff-aef3-03e7e324413d" name="errorhandlingFlow4"/>
		<set-payload value='#["success"]' doc:name="Success" doc:id="6c9198a3-56d5-4d87-9997-6ca8894f3582" />
	</flow>
	<flow name="errorhandlingFlow4" doc:id="ff314944-643e-4adb-a6d2-91572d72caa5" >
		<try doc:name="Try" doc:id="bef289be-c3e8-46a8-ab95-e4a9dfe86a9c" >
			<http:request method="GET" doc:name="Request" doc:id="65f648f5-75ea-4b0d-a0dd-752a2df41cf1" config-ref="HTTP_Request_configuration" path="ccd"/>
			<set-payload value="#[payload]" doc:name="Set Payload" doc:id="8ab5721e-b02a-49ae-9f78-6c8b31128d4c" />
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6afc3785-8d87-426a-9cbf-a8644401d6d1" >
					<set-payload value='#["Error handled in try block"]' doc:name="Error handled in try block" doc:id="4d22b25a-d9c7-4f20-a750-1371d6af7b83" />
				</on-error-propagate>
			</error-handler>
		</try>
		<set-payload value='#["Success in private flow"]' doc:name="Success in private flow" doc:id="3b1c3349-1aab-4bb1-80c7-23e3140e801d" />
	</flow>
	<flow name="errorhandlingFlow5" doc:id="8a143b27-91e8-4325-8b6c-4f4b31a2aa8c" >
		<http:listener doc:name="Listener" doc:id="9b3956e9-c135-4373-adbf-7afa38179a37" config-ref="HTTP_Listener_config" path="/error5"/>
		<file:write doc:name="Write" doc:id="16c30bdb-7ef3-422a-8acf-0bbc0bee806a" config-ref="File_Config" path="C:\Users\vishal.bande\Downloads/\test.txt" mode="CREATE_NEW"/>
		<set-payload value='#["File written"]' doc:name="Set Payload" doc:id="cf904c17-a6f6-4dc2-893d-7125285c0639" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e17af482-04dd-4bd3-9e4c-4b4f3e4c637a" type="FILE:FILE_ALREADY_EXISTS">
				<set-payload value='#["Connectivity Error"]' doc:name='"Connectivity Error"' doc:id="be3fe38e-e7f8-4861-bc5b-c2090721cb5b" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="errorhandlingFlow6" doc:id="51c5a6d0-5f9d-491f-bfd6-503dfad7cb56" >
		<http:listener doc:name="Listener" doc:id="d9996de6-bdfb-48d1-8172-4dc2c1a1914b" config-ref="HTTP_Listener_config" path="/error6">
		</http:listener>
		<set-payload value='#["Before raise error"]' doc:name="Set Payload" doc:id="5939b106-47f1-4e77-835c-885b0c7885b7" />
		<raise-error doc:name="Raise error" doc:id="47f36c96-e1c0-45c5-b6ce-52a98808b82f" type="ERROR:GONE"/>
		<set-payload value='#["After raise error"]' doc:name="After raise error" doc:id="83e2d687-4e02-4695-9361-560635177a99" />
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e1e95145-2b97-44ed-9239-99f9b6ad696a" type="ANY">
				<set-payload value='#["On propogate"]' doc:name="Set Payload" doc:id="a1c97c7c-6a8e-4055-8573-71ccf8b1fc4b" />
			</on-error-propagate>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="30a757f9-919b-443f-af33-766a88dcc485">
				<set-payload value='#["Inside main flow"]' doc:name="Set Payload" doc:id="bc26764d-2e40-4b2c-a283-71028a310651" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="errorhandlingFlow" doc:id="19d1f45d-3bbc-43fe-9515-141d32c597c8" >
		<http:listener doc:name="Listener" doc:id="6a518d14-5f33-462a-ad59-bf7c0d8bd3c2" config-ref="HTTP_Listener_config" path="/error">
			<http:response statusCode="200" />
			<http:error-response statusCode="200">
				<http:body ><![CDATA[#[output text/plain --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-payload value='#["Before request"]' doc:name="Before request" doc:id="306da32a-e557-4f93-87cb-250ffaf87e6b" />
		<set-variable value="ccc.com" doc:name="Set path" doc:id="df78b3ef-ee9d-42a0-b17b-1249939175c5" variableName="path"/>
		<http:request method="GET" doc:name="Request" doc:id="090c17dc-aa55-4b80-97f1-727cb0084558" config-ref="HTTP_Request_configuration1" path="#[vars.path]">
			<http:headers ><![CDATA[#[output application/java
---
cleint_id: p('secure::password')]]]></http:headers>
		</http:request>
		<set-payload value='#["Success"]' doc:name="Success" doc:id="b558e79b-92f2-462e-9113-d99619acb81e" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="1a990fa7-d187-46cf-a4fe-a6430e7e7a40" type="ANY">
				<set-payload value='"Inside main flow"' doc:name="Inside main flow" doc:id="09067c09-ec14-4141-9a4e-648c13a99972" />
			</on-error-propagate>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="d4645bf2-a7e4-4b1c-a272-f5a7a2949c7d" >
				<set-payload value='#["On continue"]' doc:name="Set Payload" doc:id="39252058-3bfd-40c1-9c25-f3256c2b825a" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
